BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: None
AllowShortEnumsOnASingleLine: false
InsertBraces: true
SeparateDefinitionBlocks: Always
BinPackArguments: false
BinPackParameters: OnePerLine
NamespaceIndentation: All
AccessModifierOffset: -4
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false
SortIncludes: Never
IncludeBlocks: Preserve
BreakStringLiterals: false
ReflowComments: Never
LineEnding: CRLF
MaxEmptyLinesToKeep: 1
